{% load static %}

<html>

<head>
  <meta charset="utf-8">
  <title>Task</title>
  <link rel="stylesheet" href="{% static 'tasks/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
</head>

<body>
  <nav>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'tasks:index' %}">Lista de Tareas</a></li>
      <li>

        <form action="{% url 'accounts:logout' %}" method="post" style="display:inline;">
          {% csrf_token %}
          <a href="javascript:void(0);" onclick="this.closest('form').submit();" class="logout-link">
            Cerrar sesión
          </a>
        </form>

      </li>
      <li><a href="{% url 'accounts:user_detail' pk=user.id %}">Información del usuario</a></li>
      {% else %}
      <li><a href="{% url 'accounts:login' %}">Iniciar Sesión</a></li>
      <li><a href="{% url 'accounts:signup' %}">Registro de usuario</a></li>
      {% endif %}
    </ul>
  </nav>
  <main>
    <div>
      {% block main %}
      {% endblock %}
    </div>
  </main>
</body>

</html>